<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">
                Favorite Links
            </h1>
            <hr>
            <h3 class="mb-5">
                <em>Store your favorite links!</em>
            </h3>
            <hr>
            <a href="/login" class="btn btn-primary">
                Let's get Started!
            </a>
        </div>

    </header>

</main>