body {
    background-image: url(/img/bg.jpg);
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

.index {
    width: 100%;
    height: 100%;
}

.masthead {
    min-height: 30rem;
    padding-top: 8rem;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}