<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center bg-dark">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <img src="/img/fenix.svg" alt="logo" class="card-img-top mx-auto m-2 w-50">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" required >
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>